div#hcg_box_content1{text-align:center;position:relative}
table#tbl_clr{font-size:12px;border-collapse:collapse;border:1px solid #CCC;width:100%;color:#444}
table#tbl_clr td{padding:4px 0 6px 10px;border:1px solid #CCC;text-align:left}
table#tbl_clr th{width:25%;border:solid 1px #CCC;padding:10px 2px;background-color:#FFFFC7}
td.rgb-td,td.hex-td{background-color:#FBFBEA}
.clr_bgc span{display:block;height:22px;margin:-4px -4px;cursor:pointer}
.clr_div div{display:inline-block;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.clr_nbr{width:5%;text-align:center;border:solid 1px #C1C1C1;border-top:0;border-right:0;padding:5px 5px}
.clr_nme{width:23.75%;text-align:left;border:solid 1px #C1C1C1;border-top:0;border-right:0;padding:5px 15px}
.clr_hex{width:23.75%;text-align:left;border:solid 1px #C1C1C1;border-top:0;border-right:0;padding:5px 15px}
.clr_bgc{width:23.75%;text-align:left;border:solid 1px #C1C1C1;border-top:0;border-right:0;padding:5px 5px}
.clr_rbg{width:23.75%;text-align:left;border:solid 1px #C1C1C1;border-top:0;padding:5px 15px}
div#div-color{overflow:auto;height:400px}
.clr_div-t{text-align:left;background-color:#E4E4E4;border-bottom:solid 1px #C1C1C1}
.clr_div-t div{display:inline-block;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
input#clr_srch{width:90%;vertical-align:middle}
.clr_nbrt{width:4.8%;text-align:center;padding:10px 5px}
.clr_nmet{width:23.5%;text-align:center;border:solid 1px #C1C1C1;border-bottom:0;padding:5px 9px}
.clr_hext{width:22.90%;text-align:left;border-right:solid 1px #C1C1C1;padding:10px 15px}
.clr_bgct{width:23.50%;text-align:left;border-right:solid 1px #C1C1C1;padding:10px 5px}
.clr_rbgt{width:25%;text-align:left;border-right:solid 1px #C1C1C1;padding:10px 10px}
.clr_div{background-color:#fff}
.dt-div div{border:solid 1px #aaa;width:25px;height:25px;display:inline-block;margin:1px;cursor:pointer;margin-bottom:-2px;border-radius:5px}
div#hcg_box_content2{text-align:center;background-color:#fff}
div#hcg_box_content3{text-align:center;background-color:#fff}
div#hcg_box_content2 .m-div{margin:15px 0}
.dt-top-div{text-align:left;background-color:#E4E4E4;border-bottom:solid 1px #C1C1C1;padding:5px 10px}
.dc-div{display:inline-block;vertical-align:middle;margin:5px;margin-bottom:1px}
.dc-ws{width:75px;height:25px;display:inline-block;cursor:pointer;box-shadow:2px 2px 4px 0 #B7B7B7}
div#dc{height:400px;overflow:auto;text-align:center}
div#dc-rgb,div#db-rgb{display:inline-block;margin-left:10px;font-size:15px;vertical-align:middle}
div#hcg_box_content5{padding:20px;text-align:center}
.hextrgb,.rgbthex{display:inline-block;vertical-align:middle;margin-bottom:25px;background-color:#E2E2E2}
.hextrgb div,.rgbthex div{display:inline-block;vertical-align:middle}
.clr-cv-cnpt input{width:35px}
.clr-cv-anpt input{width:125px}
.clr-cv-btn{margin:0 20px}
.clr-cnv-dv{padding:18px 10px}
div#h-color-h{width:50px;height:60px;border-right:solid 1px #CCC;float:left;margin-right:10px;box-shadow:inset 0 0 0 3px #fff;margin:1px}
div#h-color-r{width:50px;height:60px;border-left:solid 1px #CCC;float:right;box-shadow:inset 0 0 0 3px #fff;margin:1px}
div#r-color-r{width:50px;height:60px;border-right:solid 1px #CCC;float:left;margin-right:10px;box-shadow:inset 0 0 0 3px #fff;margin:1px}
div#r-color-h{width:50px;height:60px;border-left:solid 1px #CCC;float:right;box-shadow:inset 0 0 0 3px #fff;margin:1px}
.jPicker .Icon{display:inline-block;height:24px;/* change this value if using a different sized color picker icon */
  position:relative;/* make this element an absolute positioning container */
  text-align:left;/* make the zero width children position to the left of container */
  width:25px;/* change this value if using a different sized color picker icon */}
.jPicker .Icon span.Color,.jPicker .Icon span.Alpha{background-position:2px 2px;display:block;height:100%;left:0;position:absolute;top:0;width:100%}
.jPicker .Icon span.Image{background-repeat:no-repeat;cursor:pointer;display:block;height:100%;left:0;position:absolute;top:0;width:100%}
.jPicker.Container{color:#000;z-index:10;padding:20px}
table.jPicker{background-color:#efefef;font-family:Arial,Helvetica,Sans-Serif;font-size:12px!important;margin:0;padding:5px;width:100%;z-index:20;border:solid 1px #aaa}
.jPicker .Move{background-color:#dddddd;border-color:#fff #666 #666 #fff;border-style:solid;border-width:1px;cursor:move;height:12px;padding:0}
.jPicker .Title{font-size:11px!important;font-weight:bold;margin:-2px 0 0 -20px;padding:10px 0 0 0;text-align:center;width:100%}
.jPicker div.Map{border-bottom:2px solid #fff;border-left:2px solid #9a9a9a;border-right:2px solid #fff;border-top:2px solid #9a9a9a;cursor:crosshair;height:260px;/* IE 6 incorrectly draws border inside the width and height instead of outside - We will fix this to 256px later */
  margin:0 10px 10px 50px;overflow:hidden;/* hide the overdraw of the Color Map icon when at edge of viewing box */
  padding:0;position:relative;/* make this element an absolute positioning container */
  width:260px;/* IE 6 incorrectly draws border inside the width and height instead of outside - We will fix this to 256px later */}
.jPicker div[class="Map"]{height:256px;/* correct to 256px for browsers that support the "[class="xxx"]" selector (IE7+,Firefox,Safari,Chrome,Opera,etc.) */
  width:256px;/* correct to 256px for browsers that support the "[class="xxx"]" selector (IE7+,Firefox,Safari,Chrome,Opera,etc.) */}
.jPicker div.Bar{border-bottom:2px solid #fff;border-left:2px solid #9a9a9a;border-right:2px solid #fff;border-top:2px solid #9a9a9a;cursor:n-resize;height:260px;/* IE 6 incorrectly draws border inside the width and height instead of outside - We will fix this to 256px later */
  margin:12px 10px 0 5px;overflow:hidden;padding:0;position:relative;width:24px;/* IE 6 incorrectly draws border inside the width and height instead of outside - We will fix this to 20px later */}
.jPicker div[class="Bar"]{height:256px;/* correct to 256px for browsers that support the "[class="xxx"]" selector (IE7+,Firefox,Safari,Chrome,Opera,etc.) */
  width:20px;/* correct to 20px for browsers that support the "[class="xxx"]" selector (IE7+,Firefox,Safari,Chrome,Opera,etc.) */}
.jPicker .Map .Map1,.jPicker .Map .Map2,.jPicker .Map .Map3,.jPicker .Bar .Map1,.jPicker .Bar .Map2,.jPicker .Bar .Map3,.jPicker .Bar .Map4,.jPicker .Bar .Map5,.jPicker .Bar .Map6{background-color:transparent;background-image:none;display:block;left:0;position:absolute;top:0}
.jPicker .Map .Map1,.jPicker .Map .Map2,.jPicker .Map .Map3{height:2596px;width:256px;/* must specify pixel width. IE7/8 Quirks mode ignores opacity for an absolutely positioned item in a relative container with "overflow:visible". The marker in the colorBar
                   would not be drawn if its overflow is set to hidden. */}
.jPicker .Bar .Map1,.jPicker .Bar .Map2,.jPicker .Bar .Map3,.jPicker .Bar .Map4{height:3896px;width:20px;/* must specify pixel width. IE7/8 Quirks mode ignores opacity for an absolutely positioned item in a relative container with "overflow:visible". The marker in the colorBar
                  would not be drawn if its overflow is set to hidden. */}
.jPicker .Bar .Map5,.jPicker .Bar .Map6{height:256px;width:20px;/* must specify pixel width. IE7/8 Quirks mode ignores opacity for an absolutely positioned item in a relative container with "overflow:visible". The marker in the colorBar
                  would not be drawn if its overflow is set to hidden. */}
.jPicker .Map .Map1,.jPicker .Map .Map2,.jPicker .Bar .Map6{background-repeat:no-repeat}
.jPicker .Map .Map3,.jPicker .Bar .Map5{background-repeat:repeat}
.jPicker .Bar .Map1,.jPicker .Bar .Map2,.jPicker .Bar .Map3,.jPicker .Bar .Map4{background-repeat:repeat-x}
.jPicker .Map .Arrow{display:block;position:absolute}
.jPicker .Bar .Arrow{display:block;left:0;/* (arrow width / 2) - (element width / 2) - position arrows' center in elements' center */
  position:absolute}
.jPicker .Preview{font-size:9px;padding:5px 0 0 0;text-align:center}
.jPicker .Preview div{border:2px inset #eee;height:62px;margin:0 auto;padding:0;width:62px}
.jPicker .Preview div span{border:1px solid #000;display:block;height:30px;margin:0 auto;padding:0;width:60px}
.jPicker .Preview .Active{border-bottom-width:0}
.jPicker .Preview .Current{border-top-width:0;cursor:pointer}
.jPicker input{font-size:13px}
.jPicker .Button{text-align:center;padding:0 4px;width:115px}
.jPicker .Button input{padding:2px 0;width:100px}
.jPicker .Button .Ok{margin:12px 0 5px 0}
.jPicker td{margin:0;padding:0}
.jPicker td.Radio{margin:0;padding:0;width:31px}
.jPicker td.Radio input{margin:0 5px 0 0;padding:0}
.jPicker td.Text{font-size:12px!important;height:22px;margin:0;padding:0;text-align:left;width:70px}
.jPicker tr.Hex td.Text{width:100px}
.jPicker td.Text input{background-color:#fff;border:1px inset #aaa;height:19px;margin:0 0 0 5px;text-align:left;width:30px}
.jPicker td[class="Text"] input{height:15px}
.jPicker tr.Hex td.Text input.Hex{width:50px}
.jPicker tr.Hex td.Text input.AHex{width:20px}
.jPicker .Grid{text-align:center;width:114px}
.jPicker .Grid span.QuickColor{border:1px inset #aaa;cursor:pointer;display:inline-block;height:15px;line-height:15px;margin:0;padding:0;width:19px}
.jPicker .Grid span[class="QuickColor"]{width:17px}
.cf-diva{background-color:#F1F1F1;height:30px;border-bottom:1px solid #D8D8D8;border-right:solid 1px #D8D8D8;padding:5px 20px}
.cf-diva div{display:inline-block;vertical-align:middle}
.cf-diva-txt{text-align:left;font-size:14px;font-family:Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;width:120px;text-shadow:1px 1px 0 #FFF;border-right:solid 1px #E5E5E5;box-shadow:1px 0 0 0 #FFF;padding:7px 0;height:16px}
.cf-divb-lft,.cf-divb-rht{display:inline-block;vertical-align:middle;width:49%;border:solid 1px #aaa;height:326px;padding:15px 15px}
.cf-divb-lft div{display:inline-block;vertical-align:middle}
.cf-divb-lft-txt{text-align:left;font-size:14px;font-family:Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;width:100px;text-shadow:1px 1px 0 #FFF;border-right:solid 1px #E5E5E5}
.cf-divb-lft-dv{margin:3px 0;background-color:#F1F1F1;padding:5px 10px;border-bottom:1px solid #D8D8D8;border-right:solid 1px #D8D8D8}
.cf-divb{text-align:center}
div#cf_clr_prv{background-color:#F1AF58;width:100%;height:100%;display:inline-block}
div#err-clr{background-color:#EAEAEA;padding:20px 20px;text-align:left;font-size:14px;font-family:Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;width:200px;text-shadow:1px 1px 0 #FFF;display:none}
div#hcg_box_content6 .m-div{padding:20px}
.cf-divb-lft-dv input{width:160px}
div#cf_clr_prv{width:100%;height:100%;display:inline-block;background-image:url(/files/theme/image/transparent.png)}
div#cf_clr_prv span{width:100%;height:100%;display:inline-block}
.divg-clr{width:20px;height:15px;display:inline-block;margin:1px;border-radius:5px;cursor:pointer}
.gtab-menu a{display:inline-block;border:solid 1px #aaa;padding:5px 5px;width:60px;text-align:center;color:#000;font-weight:bold}
table.table-ga{width:100%;text-align:center;border-collapse:collapse}
table.table-ga tr{background-color:#EBEBEB;color:#000}
table.table-ga td{border:solid 1px #C9C9C9;padding:10px}
table.table-ga th{border:solid 1px #BFBFBF;padding:10px;color:#000;background-color:#D4D4D4;text-align:center;font-size:12px}
.g-tabs{display:none}
.gtab-menu{background-color:#E0E0E0;padding:5px 5px;text-align:center}
.gtab-menu a.tab-actv{background-image:none;outline:0;border:solid 1px #9E9E9E;background-color:#D1D1D1;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);color:#5F5F5F}
div#g_div_clr{background-color:#E0E0E0;padding:10px;border-bottom:solid 1px #C1C1C1}
div#hcg_box_content7 .m-div{padding:20px}
.g-divtb{background-color:#E0E0E0;padding:10px;margin-bottom:15px;text-align:center}
.g-dvb-a,.g-dvb-b,.g-dvb-c{display:inline-block;vertical-align:middle;width:33%;border:solid 1px #aaa;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;height:74px}
div#g_color_prv{width:100%;height:100%}
.g-dvb-b{text-align:left;text-indent:5px;padding:4px 0}
.g-dvb-a{padding:23px 0}
.g-dvb-c{height:74px}
.g-dvb-b b{font-weight:bold;color:#000;width:50px;background-color:#E0E0E0;display:inline-block;margin-bottom:2px;vertical-align:middle;text-align:right}
.g-dvb-b span{font-weight:normal;padding-left:5px;display:inline-block}
.divg-clr.d-actv{-webkit-transform:rotateX(50deg);transform:rotateX(50deg);-webkit-transform-origin-x:50%;-webkit-transform-origin-y:50%;transform-origin-x:50%;transform-origin-y:50%}
div#db-rgb-clr,div#dc-rgb-clr{width:50px;height:23px;display:inline-block;vertical-align:middle;margin-left:10px;border:solid 1px #aaa}
